.brand-logo {
    margin-left: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

#nav-mobile {
    margin-right: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

.profilePic {
    height: 150px;
    width: 150px;
}