.brand-logo {
    margin-left: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

#nav-mobile {
    margin-right: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

/* footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }